BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
ABBR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
BODY {
	FONT: 12px/1.5 Arial,Tahoma,Microsoft YaHei,"΢���ź�","����", Helvetica, sans-serif; COLOR: #333
}
HTML {
	FONT: 12px/1.5 Arial,Tahoma,Microsoft YaHei,"΢���ź�","����", Helvetica, sans-serif; COLOR: #333
}
INPUT {
	FONT: 12px/1.5 Arial,Tahoma,Microsoft YaHei,"΢���ź�","����", Helvetica, sans-serif; COLOR: #333
}
BUTTON {
	FONT: 12px/1.5 Arial,Tahoma,Microsoft YaHei,"΢���ź�","����", Helvetica, sans-serif; COLOR: #333
}
TEXTAREA {
	FONT: 12px/1.5 Arial,Tahoma,Microsoft YaHei,"΢���ź�","����", Helvetica, sans-serif; COLOR: #333
}
BODY {
	BACKGROUND: #f2f2f2
}
HTML {
	BACKGROUND: #f2f2f2
}
H1 {
	FONT-SIZE: 20px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 12px
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
I {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #38a3db
}
.fb {
	FONT-WEIGHT: bold
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
* HTML .clearfix {
	DISPLAY: inline-block
}
* + HTML .clearfix {
	DISPLAY: inline-block
}
.bg {
	BACKGROUND-IMAGE: url(../imgcssjs/head_sprite.png); BACKGROUND-COLOR: transparent; BACKGROUND-REPEAT: no-repeat
}
.head-layout {
	MARGIN: 0px auto; WIDTH: 1040px
}
.nav-layout {
	MARGIN: 0px auto; WIDTH: 1040px
}
.home-slide {
	MARGIN: 0px auto; WIDTH: 1040px
}
.layout {
	MARGIN: 0px auto; WIDTH: 992px
}
.main {
	MARGIN: 0px auto; WIDTH: 992px
}
.titbar {
	MARGIN: 0px auto; WIDTH: 992px
}
.sub-banner {
	MARGIN: 0px auto; WIDTH: 992px; height:205px;
}
.layout {
	PADDING-BOTTOM: 30px
}
.main {
	POSITION: relative; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.disable {
	DISPLAY: none
}
.wraper-hd {
	BACKGROUND-IMAGE: url(../imgcssjs/wraper_hd_ft.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.wraper-ft {
	BACKGROUND-IMAGE: url(../imgcssjs/wraper_hd_ft.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.wraper-hd {
	BACKGROUND-POSITION: center 0px
}
.wraper-ft {
	BACKGROUND-POSITION: center bottom
}
.wraper {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../imgcssjs/bg_c.jpg) repeat-y center 0px; PADDING-TOP: 10px
}
.titbar H2 {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.col-item H3 {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.col-item .info {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.col-item .more {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.infobar .tit {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.pd-info {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.area-03-con H2 {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.user-center-nav {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.reg-top {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.reg-form H3 {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.steps LI B {
	FONT-FAMILY: "Microsoft YaHei","΢���ź�","����"
}
.titbar H2 {
	FONT-WEIGHT: normal
}
.col-item H3 {
	FONT-WEIGHT: normal
}
.pd-info H2 {
	FONT-WEIGHT: normal
}
.col-item H3 {
	COLOR: #38a3db
}
.area-02 .txtlist LI A {
	COLOR: #38a3db
}
.area-02 .txtlist LI A:hover {
	COLOR: #38a3db !important
}
.foot-item LI A:hover {
	COLOR: #38a3db !important
}
.last-list A:hover {
	COLOR: #38a3db !important
}
.login-info A:hover {
	COLOR: #38a3db !important
}
.header {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 30px
}
.logo {
	 WIDTH: 336px; DISPLAY: block; HEIGHT: 68px; OVERFLOW: hidden
}
.logo A {
WIDTH: 336px; DISPLAY: block; HEIGHT: 68px; OVERFLOW: hidden
}
.logo {
	POSITION: relative;  FLOAT: left; TOP: 5px
}
.quick {
	DISPLAY: inline; FLOAT: right
}
.quick LI {
	PADDING-LEFT: 8px; FLOAT: left
}
.quick LI A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 70px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 52px; COLOR: #0080b6; PADDING-TOP: 5px
}
.quick LI A:hover {
	BORDER-BOTTOM: #069 1px solid; BORDER-LEFT: #069 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #069 1px solid; BORDER-RIGHT: #069 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.quick LI I {
	BACKGROUND-IMAGE: url(../imgcssjs/head_sprite.png); MARGIN: 0px auto 3px; WIDTH: 35px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px; CURSOR: pointer
}
.quick LI .i01 {
	BACKGROUND-POSITION: 5px 0px
}
.quick LI .i02 {
	BACKGROUND-POSITION: 3px -52px
}
.quick LI .i03 {
	BACKGROUND-POSITION: 3px -103px
}
.quick LI .i04 {
	BACKGROUND-POSITION: 2px -154px
}
.navbar {
	BACKGROUND-IMAGE: url(../imgcssjs/head_sprite.png); Z-INDEX: 220; POSITION: relative; BACKGROUND-REPEAT: no-repeat
}
.nav {
	BACKGROUND-IMAGE: url(../imgcssjs/head_sprite.png); Z-INDEX: 220; POSITION: relative; BACKGROUND-REPEAT: no-repeat
}
.navbar {
	BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -196px; HEIGHT: 43px
}
.navbar {
	COLOR: #fff; FONT-SIZE: 14px
}
.navbar A {
	COLOR: #fff; FONT-SIZE: 14px
}
.nav {
	BACKGROUND-POSITION: 0px -196px
}
.nav {
	DISPLAY: inline; FLOAT: left
}
.nav LI {
	PADDING-BOTTOM: 1px; FLOAT: left
}
.nav LI A.m {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 39px; WIDTH: 98px; FLOAT: left; HEIGHT: 39px; OVERFLOW: hidden
}
.nav LI.hover {
	BORDER-BOTTOM: #083663 2px solid; TEXT-DECORATION: none
}
.nav LI.current {
	BORDER-BOTTOM: #083663 2px solid; TEXT-DECORATION: none
}
.nav LI.hover A.m {
	BACKGROUND-COLOR: #006692; COLOR: #fff; TEXT-DECORATION: none
}
.nav LI I {
	POSITION: absolute; WIDTH: 8px; DISPLAY: block; BACKGROUND: url(../imgcssjs/menu_ico.png) no-repeat 0px 0px; HEIGHT: 5px; TOP: 17px; RIGHT: 7px
}
.select-language I {
	POSITION: absolute; WIDTH: 8px; DISPLAY: block; BACKGROUND: url(../imgcssjs/menu_ico.png) no-repeat 0px 0px; HEIGHT: 5px; TOP: 17px; RIGHT: 7px
}
.nav LI {
	POSITION: relative
}
.nav .sub-menu {
	BORDER-BOTTOM: #06709b 1px solid; POSITION: absolute; BORDER-LEFT: #06709b 1px solid; WIDTH: 208px; DISPLAY: none; BACKGROUND: url(../imgcssjs/sub_menu_bg.png) 0px 0px; BORDER-TOP: #06709b 1px solid; TOP: 43px; BORDER-RIGHT: #06709b 1px solid; LEFT: 0px
}
.nav .sub-menu LI {
	BORDER-BOTTOM: #7ac1de 1px dashed; LINE-HEIGHT: 31px; FLOAT: none
}
.nav LI.last .sub-menu {
	RIGHT: 0px; LEFT: auto
}
.subnav LI A.m {
	WIDTH: 103px
}
.sub-menu UL {
	FLOAT: none
}
.sub-menu LI {
	HEIGHT: 31px; COLOR: #fff; FONT-SIZE: 14px
}
.sub-menu LI A {
	HEIGHT: 31px; COLOR: #fff; FONT-SIZE: 14px
}
.sub-menu LI A {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; HEIGHT: 31px; PADDING-TOP: 0px
}
.sub-menu LI A:hover {
	BACKGROUND: #149bce; COLOR: #fff
}
.sub-menu LI.last {
	BORDER-BOTTOM-STYLE: none
}
.sub-menu LI SPAN {
	FONT-FAMILY: "����"
}
.select-language {
	POSITION: relative; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 60px; PADDING-RIGHT: 0px; FLOAT: right; HEIGHT: 20px; FONT-SIZE: 12px; PADDING-TOP: 9px
}
.cur-language {
	BORDER-BOTTOM: #9fdbff 2px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 12px; COLOR: #ccffff; PADDING-TOP: 3px
}
.cur-language IMG {
	WIDTH: 16px; FLOAT: left; MARGIN-RIGHT: 6px
}
.cur-language I {
	TOP: 17px; RIGHT: 3px
}
.languages {
	BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 70px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; TOP: 27px; RIGHT: 0px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 5px
}
.languages LI {
	PADDING-BOTTOM: 2px
}
.languages LI {
	COLOR: #333; FONT-SIZE: 12px
}
.languages LI A {
	COLOR: #333; FONT-SIZE: 12px
}
.languages LI A:hover {
	TEXT-DECORATION: none
}
.languages LI IMG {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; WIDTH: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.language-hover .languages {
	DISPLAY: block
}
.login-info {
	BORDER-BOTTOM: #09c 1px solid; BORDER-LEFT: #09c 1px solid; PADDING-BOTTOM: 12px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 315px; PADDING-RIGHT: 5px; FLOAT: right; BORDER-TOP: #09c 1px solid; BORDER-RIGHT: #09c 1px solid; PADDING-TOP: 12px
}
.login-info .avatar {
	WIDTH: 45px; FLOAT: left; HEIGHT: 45px; VERTICAL-ALIGN: middle
}
.login-info .avatar IMG {
	WIDTH: 45px; FLOAT: left; HEIGHT: 45px; VERTICAL-ALIGN: middle
}
.login-info {
	COLOR: #999
}
.login-info A.gray {
	COLOR: #999
}
.login-info A {
	COLOR: #0080b6
}
.login-info .myinfo {
	WIDTH: 255px; FLOAT: right
}
.login-info .myinfo LI {
	PADDING-RIGHT: 8px; DISPLAY: inline
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
.footer {
	COLOR: #666
}
.footer A {
	COLOR: #666
}
.parners {
	POSITION: relative; PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #f1f1f1 1px solid; PADDING-TOP: 15px
}
.parners H4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 15px
}
.parners LI {
	TEXT-ALIGN: center; WIDTH: 150px; FLOAT: left; HEIGHT: 150px
}
.parners LI IMG {
	MARGIN: 0px auto; DISPLAY: block; VERTICAL-ALIGN: middle
}
.parners LI .hide {
	DISPLAY: none
}
.parners LI A:hover {
	BACKGROUND: #fff; TEXT-DECORATION: none
}
.parners LI A:hover IMG {
	DISPLAY: none
}
.parners LI A:hover IMG.hide {
	DISPLAY: block
}
.parners-list {
	WIDTH: 750px; FLOAT: right; HEIGHT: 50px; OVERFLOW: hidden
}
.btn-prev {
	BACKGROUND-IMAGE: url(../imgcssjs/arrows.png); POSITION: absolute; TEXT-INDENT: -9999em; WIDTH: 10px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; OVERFLOW: hidden; TOP: 32px
}
.btn-next {
	BACKGROUND-IMAGE: url(../imgcssjs/arrows.png); POSITION: absolute; TEXT-INDENT: -9999em; WIDTH: 10px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; OVERFLOW: hidden; TOP: 32px
}
.btn-prev {
	BACKGROUND-POSITION: 0px 3px; LEFT: 160px
}
.btn-prev:hover {
	BACKGROUND-POSITION: 0px -26px
}
.btn-next {
	BACKGROUND-POSITION: -16px 3px; LEFT: 180px
}
.btn-next:hover {
	BACKGROUND-POSITION: -16px -26px
}
.foot-items {
	PADDING-BOTTOM: 10px; CLEAR: both; BORDER-TOP: #d9d9d9 1px solid; PADDING-TOP: 15px
}
.foot-item {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; WIDTH: 118px; PADDING-RIGHT: 0px; BACKGROUND: url(../imgcssjs/line_dashed.png) repeat-y right 0px; FLOAT: left; HEIGHT: 180px; PADDING-TOP: 0px
}
.foot-item H4 {
	PADDING-BOTTOM: 15px; LINE-HEIGHT: 16px
}
.foot-item LI {
	PADDING-LEFT: 12px; BACKGROUND: url(../imgcssjs/i_01.png) no-repeat 0px 7px
}
.foot-item LI A {
	COLOR: #999
}
.last-item {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.last-list {
	LINE-HEIGHT: 18px
}
.last-list A {
	COLOR: #666
}
.ftbox {
	BORDER-LEFT: #ddd 1px solid; PADDING-LEFT: 12px; WIDTH: 205px; FLOAT: right; HEIGHT: 180px
}
.social-list {
	PADDING-BOTTOM: 12px
}
.social-list LI {
	PADDING-RIGHT: 10px; FLOAT: left
}
.new-msg {
	PADDING-BOTTOM: 25px
}
.new-msg STRONG {
	PADDING-BOTTOM: 15px; DISPLAY: block; COLOR: #3a9da5; CLEAR: both; FONT-SIZE: 14px
}
.new-msg-ipt {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 5px; WIDTH: 108px; PADDING-RIGHT: 5px; BACKGROUND: #f2f2f2; HEIGHT: 23px; BORDER-TOP: #e6e6e6 1px solid; MARGIN-RIGHT: 8px; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 0px
}
.new-msg-btn {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 58px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: #009da5; HEIGHT: 26px; COLOR: #fff; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.col-item .more {
	BACKGROUND-IMAGE: url(../imgcssjs/home_sprite.png); BACKGROUND-REPEAT: no-repeat
}
.area-02 .txtlist LI {
	BACKGROUND-IMAGE: url(../imgcssjs/home_sprite.png); BACKGROUND-REPEAT: no-repeat
}
.infobar .btn {
	BACKGROUND-IMAGE: url(../imgcssjs/home_sprite.png); BACKGROUND-REPEAT: no-repeat
}
.home-slide {
	WIDTH: 992px; DISPLAY: block
}
.home-slide LI {
	WIDTH: 992px; DISPLAY: block
}
.slides {
	WIDTH: 992px; DISPLAY: block
}
.slides IMG {
	WIDTH: 992px; DISPLAY: block
}
.home-slide {
	POSITION: relative
}
.bx-prev {
	POSITION: absolute; MARGIN-TOP: -20px; TEXT-INDENT: -9999em; WIDTH: 40px; DISPLAY: none; HEIGHT: 40px; OVERFLOW: hidden; TOP: 50%
}
.bx-next {
	POSITION: absolute; MARGIN-TOP: -20px; TEXT-INDENT: -9999em; WIDTH: 40px; DISPLAY: none; HEIGHT: 40px; OVERFLOW: hidden; TOP: 50%
}
.bx-prev {
	BACKGROUND: url(../imgcssjs/btn_prev.png) no-repeat 0px 0px; LEFT: 20px
}
.bx-next {
	BACKGROUND: url(../imgcssjs/btn_next.png) no-repeat 0px 0px; RIGHT: 20px
}
.hover .bx-prev {
	Z-INDEX: 2200; DISPLAY: block; CURSOR: pointer
}
.hover .bx-next {
	Z-INDEX: 2200; DISPLAY: block; CURSOR: pointer
}
.titbar {
	BORDER-BOTTOM: #0080b6 3px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 15px; HEIGHT: 25px; PADDING-TOP: 0px
}
.titbar H2 {
	DISPLAY: inline; FLOAT: left; FONT-SIZE: 22px; FONT-WEIGHT: normal
}
.col-item {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 60px; WIDTH: 200px; PADDING-RIGHT: 65px; FLOAT: left; HEIGHT: 215px; PADDING-TOP: 35px
}
.col-item-01 {
	BACKGROUND: url(../imgcssjs/item_01.png) no-repeat 30px 12px
}
.col-item-02 {
	BACKGROUND: url(../imgcssjs/item_02.png) no-repeat 30px 12px
}
.col-item-03 {
	BACKGROUND: url(../imgcssjs/item_03.png) no-repeat 30px 12px
}
.col-item H3 {
	PADDING-BOTTOM: 15px; FONT-SIZE: 18px
}
.col-item .info {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 19px; HEIGHT: 76px; COLOR: #666
}
.col-item .more {
	TEXT-ALIGN: center; LINE-HEIGHT: 41px; WIDTH: 122px; DISPLAY: block; BACKGROUND-POSITION: 0px 0px; HEIGHT: 41px; COLOR: #fff; FONT-SIZE: 14px
}
.col-item .more:hover {
	BACKGROUND-POSITION: 0px -45px; COLOR: #fff; TEXT-DECORATION: none
}
.area-02 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 60px; PADDING-TOP: 0px
}
.area-02-left {
	PADDING-LEFT: 5px; WIDTH: 600px; FLOAT: left
}
.area-02 .con {
	PADDING-BOTTOM: 18px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 18px
}
.area-02 .pic {
	DISPLAY: inline; FLOAT: left
}
.area-02 .pic IMG {
	DISPLAY: inline; FLOAT: left
}
.area-02 .txtlist {
	WIDTH: 420px; FLOAT: right; PADDING-TOP: 18px
}
.area-02 .txtlist LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; WIDTH: 180px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 5px -96px; FLOAT: left; HEIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.area-02 .txtlist LI A {
	COLOR: #0080b6
}
.bnlist {
	WIDTH: 262px; FLOAT: right
}
.bnlist LI {
	PADDING-BOTTOM: 10px
}
.bnlist LI IMG {
	VERTICAL-ALIGN: middle
}
.bnlist LI A.hide {
	DISPLAY: none
}
.bnlist LI.hover A {
	DISPLAY: none
}
.bnlist LI.hover A.hide {
	DISPLAY: block
}
.infobar {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 32px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: #f4f4f4; COLOR: #666; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 8px
}
.infobar .btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px; FONT-STYLE: italic; WIDTH: 92px; DISPLAY: block; BACKGROUND-POSITION: 0px -130px; FLOAT: right; HEIGHT: 32px; COLOR: #fff; FONT-SIZE: 14px
}
.infobar .btn:hover {
	BACKGROUND-POSITION: 0px -166px; COLOR: #fff
}
.infobar .tit {
	FONT-STYLE: italic; PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: left; FONT-SIZE: 18px
}
.pd-info {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 5px; WIDTH: 215px; PADDING-RIGHT: 5px; BACKGROUND: #09c; FLOAT: left; PADDING-TOP: 10px
}
.pd-info H2 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; FONT-SIZE: 32px
}
.pd-info {
	COLOR: #fff
}
.pd-info A {
	COLOR: #fff
}
.pd-info DL {
	PADDING-BOTTOM: 16px
}
.pd-info DT {
	TEXT-ALIGN: right; LINE-HEIGHT: 16px; WIDTH: 110px; PADDING-RIGHT: 10px; FLOAT: left; BORDER-RIGHT: #80cce6 1px solid
}
.pd-info DT SPAN {
	DISPLAY: block; FONT-SIZE: 16px
}
.pd-info DD {
	LINE-HEIGHT: 34px; WIDTH: 82px; FLOAT: right; HEIGHT: 34px; FONT-SIZE: 16px
}
.pd-info DD EM {
	PADDING-RIGHT: 5px; FONT-FAMILY: "Book Antiqua"; FONT-SIZE: 40px
}
.area-03-con {
	WIDTH: 722px; FLOAT: right; OVERFLOW: hidden
}
.area-03-con H2 {
	BORDER-BOTTOM: #0080b6 4px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 15px; FONT-SIZE: 16px; PADDING-TOP: 12px
}
.area-03-con UL {
	WIDTH: 890px
}
.area-03-con LI {
	LINE-HEIGHT: 22px; WIDTH: 310px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; MARGIN-RIGHT: 100px
}
.area-03-con LI SPAN {
	PADDING-LEFT: 15px; FLOAT: right
}
.sub-banner {
	TEXT-ALIGN: center; MARGIN-BOTTOM: 5px; PADDING-TOP: 5px
}
.sub-banner IMG {
	VERTICAL-ALIGN: middle
}
.rightbar {
	POSITION: relative; WIDTH: 210px; FLOAT: right
}
.rightbar .bn {
	MARGIN-BOTTOM: 10px
}
.rightbar .bn IMG {
	VERTICAL-ALIGN: middle
}
.rbox {
	POSITION: relative; PADDING-BOTTOM: 25px; PADDING-LEFT: 10px; WIDTH: 225px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 20px; BACKGROUND: url(../imgcssjs/rbox.png) no-repeat right bottom; MARGIN-RIGHT: -35px; PADDING-TOP: 15px
}
.rbox H3 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT-FAMILY: "Times New Roman", Times, serif; COLOR: #005193; FONT-SIZE: 16px; PADDING-TOP: 0px
}
.small-bn {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.small-bn {
	POSITION: relative; DISPLAY: block; VERTICAL-ALIGN: middle
}
.small-bn A {
	POSITION: relative; DISPLAY: block; VERTICAL-ALIGN: middle
}
.small-bn IMG {
	POSITION: relative; DISPLAY: block; VERTICAL-ALIGN: middle
}
.small-bn A:hover {
	BACKGROUND: #eee
}
.small-bn IMG.hide {
	DISPLAY: none
}
.small-bn A:hover IMG {
	DISPLAY: none
}
.small-bn A:hover IMG.hide {
	DISPLAY: block
}
.contact-info DL {
	PADDING-BOTTOM: 15px; LINE-HEIGHT: 18px
}
.contact-info DL {
	COLOR: #293e5c
}
.contact-info DL A {
	COLOR: #293e5c
}
.contact-info DT {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.btn-sv {
	LINE-HEIGHT: 38px; PADDING-LEFT: 20px; WIDTH: 190px; DISPLAY: block; BACKGROUND: #0080b6; HEIGHT: 38px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.btn-sv:hover {
	BACKGROUND: #069; COLOR: #fff
}
.leftbar {
	WIDTH: 210px; FLOAT: left; MARGIN-RIGHT: 15px
}
.leftmenu {
	PADDING-BOTTOM: 15px; MARGIN-BOTTOM: 15px; BACKGROUND: url(../imgcssjs/left_menu_bg.jpg) repeat-y 0px 0px
}
.leftmenu .inner {
	BACKGROUND: url(../imgcssjs/left_menu.jpg) no-repeat 0px 0px; PADDING-TOP: 12px
}
.leftmenu .bn {
	MARGIN-BOTTOM: 15px
}
.leftmenu .bn IMG {
	VERTICAL-ALIGN: middle
}
.leftmenu H2 {
	TEXT-INDENT: -9999em; MARGIN-BOTTOM: 16px; BACKGROUND: url(../imgcssjs/menu_tit.png) no-repeat 50px 0px; HEIGHT: 21px; OVERFLOW: hidden
}
.leftmenu LI {
	COLOR: #9cf
}
.leftmenu LI A {
	COLOR: #9cf
}
.leftmenu LI {
	POSITION: relative; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-LEFT: 50px; PADDING-RIGHT: 20px; BACKGROUND: url(../imgcssjs/menu_line.png) no-repeat 5px 38px; HEIGHT: 20px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.leftmenu LI A {
	PADDING-LEFT: 16px; DISPLAY: block; BACKGROUND: url(../imgcssjs/menu_li.png) no-repeat 0px 4px
}
.leftmenu LI A:hover {
	COLOR: #fff
}
.leftmenu LI.current A {
	COLOR: #fff
}
.leftmenu LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.user-center {
	WIDTH: 750px; FLOAT: left
}
.user-center-nav {
	BORDER-BOTTOM: #39c 2px solid; LINE-HEIGHT: 38px; MARGIN-BOTTOM: 12px; HEIGHT: 38px
}
.user-center-tit {
	PADDING-LEFT: 35px; DISPLAY: inline; BACKGROUND: url(../imgcssjs/ico_home.png) no-repeat 0px 1px; FLOAT: left; FONT-SIZE: 20px; FONT-WEIGHT: normal
}
.user-center-nav UL {
	DISPLAY: inline; FLOAT: right
}
.user-center-nav LI {
	LINE-HEIGHT: 38px; WIDTH: 95px; FLOAT: left
}
.user-center-nav LI A {
	LINE-HEIGHT: 38px; WIDTH: 95px; FLOAT: left
}
.user-center-nav LI {
	TEXT-ALIGN: center; PADDING-LEFT: 2px; FONT-SIZE: 14px
}
.user-center-nav LI A:hover {
	BACKGROUND: #bce9ff
}
.user-center-nav LI.current A {
	BACKGROUND: #39c; COLOR: #fff
}
.user-center-nav LI.current A:hover {
	BACKGROUND: #39c; COLOR: #fff
}
.reset-info {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 25px; PADDING-RIGHT: 10px; BACKGROUND: #f2f2f2; PADDING-TOP: 25px
}
.reset-info H3 {
	PADDING-BOTTOM: 25px
}
.reset-info LI {
	PADDING-BOTTOM: 15px
}
.reset-info .info-item {
	DISPLAY: inline; FLOAT: left
}
.reset-info .ipt-info {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 9px; LINE-HEIGHT: 16px; PADDING-LEFT: 8px; WIDTH: 295px; PADDING-RIGHT: 8px; BACKGROUND: #fff; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: #e5e5e5 1px solid; MARGIN-RIGHT: 15px; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 9px
}
.reset-info .label-txt {
	PADDING-BOTTOM: 5px; DISPLAY: block
}
.reset-info .txt-center {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 22px
}
.reset-info .ipt-rd {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; WIDTH: 16px; PADDING-RIGHT: 0px; HEIGHT: 16px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.reset-info .txtarea {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; WIDTH: 670px; PADDING-RIGHT: 10px; BACKGROUND: #fff; HEIGHT: 55px; OVERFLOW: hidden; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 8px
}
.reset-info .txt-tips {
	PADDING-BOTTOM: 25px; COLOR: #999
}
.reset-info .btnbar {
	TEXT-ALIGN: right; PADDING-RIGHT: 20px
}
.reset-info .btn {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 195px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: #0080b6; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 14px; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.reset-info .btn-hover {
	BACKGROUND: #069
}
.select-box {
	Z-INDEX: 300; BORDER-BOTTOM: #aaa 1px solid; POSITION: relative; BORDER-LEFT: #aaa 1px solid; WIDTH: 311px; BACKGROUND: #fff; HEIGHT: 31px; BORDER-TOP: #aaa 1px solid; MARGIN-RIGHT: 15px; BORDER-RIGHT: #aaa 1px solid
}
.select-box-ipt {
	POSITION: absolute; BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 30px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 10px; WIDTH: 301px; BORDER-TOP-STYLE: none; BACKGROUND: url(../imgcssjs/select_arrow.png) no-repeat right 0px; HEIGHT: 30px; BORDER-LEFT-STYLE: none; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
.select-menu {
	Z-INDEX: 220; BORDER-BOTTOM: #c8c8c8 1px solid; POSITION: absolute; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 301px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #c8c8c8 1px solid; TOP: 31px; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 5px; LEFT: -1px
}
.select-menu LI {
	BORDER-BOTTOM: #ededed 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 24px; CURSOR: pointer; PADDING-TOP: 2px
}
.select-menu LI.hover {
	BACKGROUND: #bce9ff; COLOR: #38a3db
}
.select-box-hover .select-menu {
	DISPLAY: block
}
.select-box-inner {
	WIDTH: 306px; HEIGHT: 32px; OVERFLOW: hidden
}
.select-box-inner SELECT {
	LINE-HEIGHT: 36px; MARGIN-TOP: -2px; WIDTH: 310px; HEIGHT: 36px; MARGIN-LEFT: -1px; VERTICAL-ALIGN: middle
}
.select-box-inner SELECT OPTION {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
.select-box LI.last {
	BORDER-BOTTOM-STYLE: none
}
.select-item {
	Z-INDEX: 2000; POSITION: relative
}
.article-detail {
	WIDTH: 535px; FLOAT: left; PADDING-TOP: 5px
}
.article-detail H1 {
	BORDER-BOTTOM: #ff9c08 3px solid; PADDING-BOTTOM: 5px; MARGIN-BOTTOM: 10px; COLOR: #c30; FONT-SIZE: 24px
}
.article-content {
	LINE-HEIGHT: 160%
}
.article-content P {
	PADDING-BOTTOM: 1em
}
.reg-top {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.reg-top {
	COLOR: #666
}
.reg-top A {
	COLOR: #666
}
.reg-top .bigtxt {
	PADDING-BOTTOM: 8px; FONT-SIZE: 28px
}
.reg-form {
	POSITION: relative; PADDING-BOTTOM: 25px; PADDING-LEFT: 25px; WIDTH: 680px; PADDING-RIGHT: 0px; BACKGROUND: #f2f2f2; FLOAT: left; PADDING-TOP: 25px
}
.reg-form H3 {
	PADDING-BOTTOM: 25px; COLOR: #0080b6; FONT-SIZE: 18px
}
.reg-form LI {
	PADDING-BOTTOM: 15px
}
.reg-form LI .select-box LI {
	PADDING-BOTTOM: 2px
}
.reg-form .info-item {
	POSITION: relative; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px
}
.reg-form .info-item .txt-right {
	POSITION: absolute; DISPLAY: inline; COLOR: #999; FONT-SIZE: 14px; TOP: 30px; RIGHT: 23px
}
.reg-form .ipt-info {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 7px; LINE-HEIGHT: 20px; PADDING-LEFT: 8px; WIDTH: 260px; PADDING-RIGHT: 43px; BACKGROUND: #fff; HEIGHT: 20px; VERTICAL-ALIGN: middle; BORDER-TOP: #e5e5e5 1px solid; MARGIN-RIGHT: 15px; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 7px
}
.reg-form .ipt-info-d {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 7px; LINE-HEIGHT: 20px; PADDING-LEFT: 4px; WIDTH: 45px; PADDING-RIGHT: 43px; BACKGROUND: #fff; HEIGHT: 20px; VERTICAL-ALIGN: middle; BORDER-TOP: #e5e5e5 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 7px
}
.reg-form .ipt-info-n {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 7px; LINE-HEIGHT: 20px; PADDING-LEFT: 8px; WIDTH: 260px; PADDING-RIGHT: 43px; BACKGROUND: #fff; HEIGHT: 20px; MARGIN-LEFT: 11px; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 7px; pxvertical-align: middle
}
.reg-form .label-txt {
	PADDING-BOTTOM: 5px; DISPLAY: block
}
.reg-form .label-txt-n {
	PADDING-BOTTOM: 5px; DISPLAY: block; MARGIN-LEFT: 11px
}
.reg-form .label-txt I {
	COLOR: #f60
}
.reg-form .txt-center {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 22px
}
.reg-form .ipt-rd {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 0px; WIDTH: 16px; PADDING-RIGHT: 0px; HEIGHT: 16px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.reg-form .txt-tips {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.reg-form .txt-tips INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 0px; WIDTH: 16px; PADDING-RIGHT: 0px; HEIGHT: 16px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.reg-form .btnbar {
	TEXT-ALIGN: right; PADDING-RIGHT: 20px
}
.reg-form .btn {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 195px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: #0080b6; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 14px; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.reg-form .btn-hover {
	BACKGROUND: #069
}
.btn-upload {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 78px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; BACKGROUND: #d8d8d8; HEIGHT: 36px; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.btn-upload-hover {
	BACKGROUND: #ccc
}
.stepbar {
	WIDTH: 255px; FLOAT: right
}
.steps {
	PADDING-BOTTOM: 20px
}
.steps LI {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; MARGIN-BOTTOM: 12px; BACKGROUND: url(../imgcssjs/step_bg.jpg) #d6d6d6 repeat-x 0px 0px; FONT-SIZE: 14px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 8px
}
.steps LI B {
	DISPLAY: block; FONT-SIZE: 24px; FONT-WEIGHT: normal
}
.steps LI.hover {
	BACKGROUND: url(../imgcssjs/step_hover.jpg) #ffeeaf repeat-x 0px 0px
}
.steps LI.current {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BACKGROUND: url(../imgcssjs/step_cur.jpg) #ffdb74 repeat-x 0px 0px; BORDER-TOP: #aaa 1px solid; BORDER-RIGHT: #aaa 1px solid
}
.txt01 {
	POSITION: absolute; LINE-HEIGHT: 22px; PADDING-LEFT: 22px; WIDTH: 230px; DISPLAY: inline; BACKGROUND: url(../imgcssjs/ico_lock.png) no-repeat 0px 2px; TOP: 20px; RIGHT: 25px
}

.clear{ clear:both;}
.dede_pages{
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
        list-style-type:none;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:1px 2px 1px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}

.biaoge table td{border:2px solid white; padding:3px;} 

.biaoge table input{padding:3px;} 

















